@using Books.Contracts.Books.Dtos
@model List<CommonBookData>

<h6 style="text-align: center">Question2 - Books Using Stored Procedure</h6>

<table style="width: 100%">
    <tr>
        <th>Author Name</th>
        <th>Title</th>
        <th>Action</th>
    </tr>
    @foreach (CommonBookData book in Model)
    {
    <tr>
        <td>@book.AuthorName</td>
        <td>@book.Title</td>
        <td>
            <a asp-controller="Book" asp-action="GetChicagoCitation" asp-route-id="@book.Id">Generate Chicago Citation</a><br>
            <a asp-controller="Book" asp-action="GetMlaCitation" asp-route-id="@book.Id">Generate MLA Citation</a>
        </td>
    </tr>
    }
</table>